@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=VT323&display=swap");

/* common shared style */

* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}

/* nav style */

nav {
  background-color: slateblue;
}
.nav-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.nav-logo-container {
  width: 50%;
  display: flex;
}
.nav-logo-container img {
  width: 80px;
  object-fit: cover;
}
.nav-logo-container p {
  font-size: 25px;
}
.hive {
  color: palevioletred;
}
.nav-items-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items-container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav-items-container .btn {
  color: black;
  background-color: palevioletred;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 20px;
}

/* banner section */

.banner-container {
  max-width: 1440px;
  margin: 50px auto 80px;
  background-color: gainsboro;
  display: flex;
  padding: 10px;
  border-radius: 10px;
}
.banner-text {
  width: 50%;
  text-align: center;
}
.banner-text h1 {
  font-size: 50px;
  background-image: linear-gradient(to bottom, slateblue, palevioletred);
  color: transparent;
  -webkit-background-clip: text;
}
.banner-text p {
  font-size: 45px;
  font-family: "VT323", monospace;
}
.icon-container {
  width: 60%;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
}
.fa-brands {
  font-size: 45px;
}
.banner-button {
  background-color: transparent;
  font-size: 20px;
  color: brown;
  border: 2px solid slateblue;
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* products section */

.product-container {
  max-width: 1440px;
  margin: 0 auto 50px;
}
.product-container h1 {
  text-align: center;
  font-size: 30px;
}
.all-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.single-product {
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(220, 220, 220, 0.156);
  box-shadow: 2px 2px 4px black;
}
.single-product img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
.product-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-icon h3 {
  font-size: 22px;
  font-weight: 700;
}
.product-fontawsome {
  font-size: 18px;
  color: white;
  background-color: slateblue;
  padding: 12px;
  border-radius: 50%;
  margin-left: 10px;
}
